*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
    
}
p{
    font-size: 20px;
}
i{
    color: rgb(255, 255, 255);
}
i:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    color: rgb(34, 34, 34);
}


:root{
    --white:blue;
}

.flex{
    display: flex;
    align-items: center;    
}

header{
    background-color: black;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 10px 20px;

    
    
}